@font-face {
    font-family: led;
    src: local(SFDigitalReadout-Heavy);
    src: url(../fonts/SFDigitalReadout-Heavy.ttf);
}

@font-face {
    font-family: oswald;
    src: local(Oswald-Bold);
    src: url(../fonts/Oswald-Bold.ttf);
}

:root {
    /* colors */
    --case: #c5b08a;
    --case-shadow: #c5b08a67;
    --face: linear-gradient(to bottom, #7d7b7b 0%,#23211f 37%);
    --btns: #E0D6C3;
    --btns-shadow: #e0d6c367;
    --btn-equal: #E47800;
    --btn-equal-shadow: #E4780067;
    --logo: #f0eac0;
    --font: #413330;
    --led: #d02987c4;
    --led-blur: #d780a0;
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    margin: 0;
    background:linear-gradient(#00f, #00f, #70a, #70a, #f00, #f00, #f70, #f70, #ff0, #ff0, #0f0, #0f0);}

#calcy {
    position: fixed;
    background-color: var(--case);
    width: clamp(300px, 100%, 475px);
    aspect-ratio: 1 / 1.9;
    border-radius: 10% 10% 3% 3%;
    border: 2px solid black;
    margin: auto auto;
}

#face {
    position: absolute;
    background: var(--face);
    top: 4.5rem;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin-inline: auto;
    width: 95%;
    border-radius: 5% 5% 0 0;
    overflow: hidden; 
}

#display {
    background-color: black;
    color: var(--led);
    text-shadow: 0 0 5px var(--led-blur);
    font-size: 1.8rem;
    letter-spacing: .8rem;
    text-align: right;
    padding: 1.8rem 22% 1.8rem 20%;
    border-radius: 10% 10% 0 0;
    font-family: led;
}

#name-plate {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .5rem .2rem 4rem; 
}

#logo {
    width: 2.3rem;
}

#name {
    font-size: 1.5rem;
    font-weight: bold;
    padding: .3rem 1rem 0 1rem;
    color: var(--logo);
    font-family: oswald;
}

#work-area {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5%;
    margin: 10% 6%;
}

#ce,
#divide,
#mult,
#c,
#minus,
#plus,
#special-key {
    background-color: var(--case);
    font-size: 1.8rem;
    grid-column: span 2;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    box-shadow: 0 3px var(--case-shadow);
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#dot {
    background-color: var(--btns);
    font-size: 2.2rem;
    grid-column: span 2;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    box-shadow: 0 3px var(--btns-shadow);
}

#equal {
    background-color: var(--btn-equal);
    font-size: 1.8rem;
    grid-column: span 3;
    aspect-ratio: auto;
    border-radius: 10%;
    box-shadow: 0 3px var(--btn-equal-shadow);
}

#zero {
    grid-column: span 3;
    aspect-ratio: auto;
}

#special-key {
    font-size: .8rem;
}

#ce:active,
#divide:active,
#mult:active,
#c:active,
#minus:active,
#plus:active,
#one:active,
#two:active,
#three:active,
#four:active,
#five:active,
#six:active,
#seven:active,
#eight:active,
#nine:active,
#zero:active,
#dot:active,
#equal:active
#special-key:active {
    box-shadow: none;
}

@media (min-width: 450px) {
    #display {
        font-size: 2.4rem;
        padding: 1.8rem 22% 1.8rem 16%;
    }

    #special-key {
        font-size: 1.2rem
    }
}